@using MudBlazor;
@implements IDisposable
@inject NavigationManager NavigationManager

@*
<style>
    .profile-icon-nav-menu {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    
</style>

 <div class="top-row ps-3 navbar navbar-dark">

    <div class="container-fluid">
        <a class="navbar-brand" href="">glubhub</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profileicon">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> 
                <img src="Profile.jpg" class="profile-icon-nav-menu" alt="Profile Icon"/>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Hjem
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Vejret
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="https://www.lystfisk.dk/" target="_blank">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Butik
            </a>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="beskeder">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Beskeder
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="indstillinger">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Indstillinger
            </NavLink>
        </div>
                <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>


    </nav>
</div> *@

<MudPaper Width="250px" Class="d-inline-flex py-3" Elevation="0" Square="true" Style="background-color: transparent; box-shadow: none;">
    <MudNavMenu Class="mud-width-full">
        <MudText Typo="Typo.h6" Class="px-4">Glub Hub</MudText>
        <MudImage ObjectFit="@ImageFit" Height="75" Width="200"
                  Src="Profile.jpg" Alt="Logo" Elevation="25"
                  Class="rounded-lg" />

        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Dit lystfisker forum</MudText>
        <MudDivider Class="my-2" />
        <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.OtherHouses">Hjem</MudNavLink>
        
        <MudNavLink Href="Weather" Icon="@Icons.Material.Filled.Cloud"> Vejret </MudNavLink>

        <MudNavLink Href="https://www.lystfisk.dk/" Target="_blank" Icon="@Icons.Material.Filled.Store"> Butik </MudNavLink>

        <MudNavLink Href="beskeder" Icon="@Icons.Material.Filled.Mail">Beskeder</MudNavLink>

        <MudNavLink Href="indstillinger" Icon="@Icons.Material.Filled.Settings">Indstillinger</MudNavLink>

        <MudDivider Class="my-2" />


        <AuthorizeView>
            <Authorized>
                <MudNavLink Href="Account/Manage" Icon="@Icons.Material.Filled.Person">
                    @context.User.Identity?.Name
                </MudNavLink>

               
                <MudItem>
                    <form action="Account/Logout" method="post" style="width:100%;">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <MudButton Type="Submit"
                                   Variant="Variant.Text"
                                   StartIcon="@Icons.Material.Filled.Logout"
                                   Class="mud-nav-link mud-width-full text-start">
                            Logout
                        </MudButton>
                    </form>
                </MudItem>
            </Authorized>

            <NotAuthorized>
                <MudNavLink Href="Account/Register" Icon="@Icons.Material.Filled.PersonAdd" ForceLoad="true">
                    Register
                </MudNavLink>

                <MudNavLink Href="Account/Login" Icon="@Icons.Material.Filled.Login" ForceLoad="true">
                    Login
                </MudNavLink>
            </NotAuthorized>
        </AuthorizeView>
    </MudNavMenu>
</MudPaper>


@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    ObjectFit ImageFit = ObjectFit.Cover;

    void SetImageFit(ObjectFit value)
    {
        ImageFit = value;
    }

}